@font-face {
  font-family: BalooBhaijaan2;
  src: url('../fonts/BalooBhaijaan2.ttf');
}

/* Public Style */
.main-top {
  padding: 20px 40px;
  width: calc(100vw - 80px);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  top: -100;
  transition-duration: 0.5s;
  backdrop-filter: blur(30px);
  background-color: var(--main-top-color);
  border-bottom: 0;
  box-shadow: none;
}

.main-top-info {
  display: flex;
  align-items: center;
  min-width: 160px;
}

.main-top-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--main-background-color);
  transition-duration: 0.5s;
}

:root {
  margin: 0;
  padding: 0;

  --bgc-light: #fff;
  --top-light: #fffc;
  --btn-prc-light: #ffe4eb;
  --btn-sec-light: #fff9fb;
  --btn-txc-light: #7b6e72;
  --btn-sdc-light: #ceb7be;

  --bgc-night: #252122;
  --top-night: #252122cc;
  --btn-prc-night: #746368;
  --btn-sec-night: #494043;
  --btn-txc-night: #f0d8df;
  --btn-sdc-night: #b4a0a6;

  --main-background-color: var(--bgc-light);
  --main-top-color: var(--top-light);
  --main-btn-primary-color: var(--btn-prc-light);
  --main-btn-secondary-color: var(--btn-sec-light);
  --main-btn-text-color: var(--btn-txc-light);
  --main-btn-shadow-color: var(--btn-sdc-light);
}

.use-font-bb2 {
  font-family: BalooBhaijaan2 !important;
  color: var(--main-btn-text-color);
}

.btn-primary {
  background: var(--main-btn-primary-color);
}

.btn-secondary {
  background: var(--main-btn-secondary-color);
}

.btn-top {
  width: 140px;
}

.btn-circle {
  width: 55px;
  border-radius: 30px !important;
  line-height: 50px !important;
}

.btn {
  height: 55px;
  margin-left: 20px;
  border: 3px solid var(--main-btn-text-color);
  border-radius: 30px;
  box-shadow: 0 2px 5px 0 var(--main-btn-shadow-color);
  font-size: 25px;
  line-height: 52px;
  text-align: center;
  transition-duration: 0.2s;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 3px 20px 0 var(--main-btn-shadow-color);
}

.btn:active {
  box-shadow: 0 2px 5px 0 var(--main-btn-shadow-color);
  transform: scale(98%, 98%);
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
